{% extends 'base.html' %}

{% block title %}投稿詳細{% endblock %}

{% block content %}
  <div class="card">
    <!-- ヘッダー -->
    <div class="card-header">
      <h5>{{ object.title }}</h5>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          &#8942;
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'update-post' object.pk %}">編集する</a></li>
          <li><a class="dropdown-item" href="{% url 'delete-post' object.pk %}">削除する</a></li>
        </ul>
      </div>
    </div>
    <!-- 投稿内容 -->
    <div class="card-body">
      <p class="card-text">{{ object.text }}</p>
    </div>
    <!-- 投票 -->
    <div class="d-flex gap-2">
      <a href="#" class="btn btn-primary">
        {{ object.choice1 }}
      </a>
      <a href="#" class="btn btn-primary">
        {{ object.choice2 }}
      </a>
    </div>
  </div>
{% endblock content %}