{% extends 'base.html' %}
{% block title %}{{ object.title }}{% endblock %}
{% block h1 %}投稿詳細{% endblock %}
{% block content %}
  <div class="p-4 m-4 bg-light border border-success rounded">
    <!-- テキスト -->
    <p>{{ object.text }}</p>
    <!-- 投票 -->
    <!-- 投票済み -->
    {% if object.has_voted %}
    <div class="row g-2 align-items-stretch">
      <div class="col-6">
        <div class="btn btn-primary w-100 py-3 text-white">
          {{ object.choice1 }}
          {{ object.choice1_percent }}％
        </div>
        <p>{{ object.choice1_count }}票</p>
      </div>
      <div class="col-6">
        <div class="btn btn-danger w-100 py-3 text-white">
          {{ object.choice2 }}
          {{ object.choice2_percent }}％
        </div>
        <p>{{ object.choice2_count }}票</p>
        </button>
      </div>
    </div>
    <!-- 未投票 -->
    {% else %}
    <form method="post" action="{% url 'vote' object.pk %}">
      {% csrf_token %}
      <div class="row g-2 align-items-stretch">
        <div class="col-6">
          <button type="submit" 
                  name="choice"
                  value="1" 
                  class="btn btn-primary w-100 py-3 text-white">
            {{ object.choice1 }}
          </button>
        </div>
        <div class="col-6">
          <button type="submit"
                  name="choice"
                  value="2"
                  class="btn btn-danger w-100 py-3 text-white">
            {{ object.choice2 }}
          </button>
        </div>
      </div>
    </form>
    {% endif %}
    <div class="text-end">
      <a href="{% url 'comment' object.pk %}" class="btn btn-primary mt-2">コメントする</a>
    </div>
{% endblock content %}

