{% extends 'base.html' %}
{% block title %}{{ object.title }}{% endblock %}
{% block h1 %}投稿詳細{% endblock %}
{% block content %}
  <div class="p-4 m-4 bg-light border border-success rounded">
    <div class="d-flex align-items-center">
    <h2 class="text-success">{{ object.title }}</h2>
    <div class="dropdown">
      <button class="btn border-0 bg-transparent ms-auto" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        &#8942;
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'update-post' object.pk %}">編集する</a></li>
        <li><a class="dropdown-item" href="{% url 'delete-post' object.pk %}">削除する</a></li>
      </ul>
    </div>
    </div>
    <p>{{ object.text }}</p>
    <form method="post" action="#">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary">
        {{ object.choice1 }}
      </button>
      <button type="submit" class="btn btn-danger">
        {{ object.choice2 }}
      </button>
    </form>
    <small class="text-body-secondary">{{ object.created_at }}</small>
  </div>
{% endblock content %}